@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
body{
    background-color: #cf2852;
}
h1{
    color: #191919;
    font-size: 40px;
    text-align: center;
    font-family: Bricolage Grotesque;
 }
 p{ 
    color: #191919;
    font-size: 40px;
    text-align: center;
 }
 img{ 
    width: 35%;
    margin-left: 650px;
 }